#Database configuration
DB_URL=put_the_correct_url
DB_NAME=put_the_name_of_the_database
DB_USERNAME=change_this_for_real_username
DB_PASSWORD=change_this_for_real_password

#App security
JWT_EXPIRATION=put_the_time
JWT_SECRET_KEY=change_this_for_your_secret_key
ADMIN_PASSWORD_ENV=one_already_was_created_by_default
